:root {
    --background-date: #282828;
    --foreground-date: #458588;

    --background-workspace: #282828;
    --foreground-workspace: #458588;

    --background-load: #282828;
    --foreground-load: #458588;

    --background-battery: #282828;
    --foreground-battery: #458588;

    --background-clock: #282828;
    --foreground-clock: #458588;

    --background-network: #282828;
    --foreground-network: #458588;
}
